<% the_product = @product %>
<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Editing: <%= the_product.product_id %></h1>
    </div>
    <p>
    <strong>Description:</strong>
    <%= the_product.description %>
    </p>
    <% unless the_product.sds.nil? %>
        <p>
        <strong>SDS:</strong>
        <%= link_to "#{the_product.sds}", :controller => "products", :action => "download_sds", :id => the_product.product_id %>
        </p>
    <% end %>
    <% unless the_product.pds.nil? %>
        <p>
        <strong>PDS:</strong>
        <%= link_to "#{the_product.pds}", :controller => "products", :action => "download_pds", :id => the_product.product_id %>
        </p>
    <% end %>
    <%= link_to 'Products', products_path  %>
    <%= link_to 'Finished editing', product_path(the_product.product_id) %>
</div>
