<% the_product = @product %>
<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Editing: <%= the_product.product_id %></h1>
    </div>
    <p>
    <strong>Description:</strong>
    <%= the_product.description %>
    </p>
    <p>
        <strong>SDS:</strong>
    <% unless the_product.sds.nil? %>
        <%= link_to "#{the_product.sds}", :controller => "products", :action => "download_sds", :id => the_product.product_id.gsub('/',"%2F") %>
    <% else %>
        No SDS file
    <% end %>
    </p>
    <%= form_for :product, url: products_path do |p| %>
        <p>
        <%= p.file_field :sds_file %>
        </p>
        <p>
        <%= p.submit "Replace SDS" %>
        </p>
    <% end %>
    <p>
        <strong>PDS:</strong>
    <% unless the_product.pds.nil? %>
        <%= link_to "#{the_product.pds}", :controller => "products", :action => "download_pds", :id => the_product.product_id.gsub('/',"%2F") %>
    <% else %>
        No PDS file
    <% end %>
    </p>
    <%= form_for :product, url: products_path do |p| %>
        <p>
        <%= p.file_field :pds_file %>
        </p>
        <p>
        <%= p.submit "Replace PDS" %>
        </p>
    <% end %>
    <%= link_to 'Products', products_path  %>
    <%= link_to 'Finished editing', product_path(the_product.product_id.gsub('/',"%2F")) %>
</div>
