<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>ID: <%= @customer.customer_id %></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Credit Information</h3>
                <p><strong>Name:</strong> <%= @customer.name %></p>
                <p><strong>Balance (LCY):</strong> <%= @customer.balance %></p>
                <p><strong>Credit Limit (LCY):</strong> <%= @customer.credit_limit %></p>
                <p><strong>Current (LCY):</strong> <%= @customer.current  %></p>
                <p><strong>1-30 Days (LCY):</strong> <%= @customer.last_1_to_30 %></p>
                <p><strong>31-60 Days (LCY):</strong> <%= @customer.last_31_to_60 %></p>
                <p><strong>61-90 Days (LCY):</strong> <%= @customer.last_31_90 %></p>
                <p><strong>90+ Days (LCY):</strong> <%= @customer.last_90_plus %></p>
                <p><strong>Sales Person:</strong> <%= SalesPerson.find(@customer.salesperson_id).name %></p>
            </div>
        </div>
    </div>
                <h3>Sell Prices</h3>
                <div class="table-responsive">
                    <table class="order-table table">
                        <thead>
                            <th>Item ID</th>
                            <th>Unit of Measure</th>
                            <th>Minimum Quantity</th>
                            <th>Published Price</th>
                            <th>Cost</th>
                            <th>Price</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </thead>

                        <% prices = @customer.get_prices %>
                        <% @customer.get_prices.each do |price| %>
                            <tr>
                                <td><%= price.item_id %></td>
                                <td><%= price.unit_measure %></td>
                                <td><%= price.min_quantity %></td>
                                <td><%= price.published_price %></td>
                                <td><%= price.cost %></td>
                                <td><%= price.price %></td>
                                <td><%= price.get_start_date %></td>
                                <td><%= price.get_end_date %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>



    <div class="list-group">
        <%= link_to 'Customers', customers_path, {class: 'list-group-item'}  %>
    </div>
</div>
