<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1><%= @customer.name %></h1>
    </div>
    <div class="list-group">
        <%= link_to 'Customers', customers_path, {class: 'btn btn-primary'}  %>
    </div>
    <h3>Credit Information</h3>
    <p><strong>Sales Person:</strong> <%= SalesPerson.find(@customer.salesperson_id).name %></p>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p><strong>ID:</strong> <%= @customer.customer_id %></p>
                <p><strong>Balance (LCY):</strong> <%= @customer.balance %></p>
                <p><strong>Credit Limit (LCY):</strong> <%= @customer.credit_limit %></p>
                <p><strong>Current (LCY):</strong> <%= @customer.current  %></p>
            </div>
            <div class="col-sm-4">
                <p><strong>1-30 Days (LCY):</strong> <%= @customer.last_1_to_30 %></p>
                <p><strong>31-60 Days (LCY):</strong> <%= @customer.last_31_to_60 %></p>
                <p><strong>61-90 Days (LCY):</strong> <%= @customer.last_31_90 %></p>
                <p><strong>90+ Days (LCY):</strong> <%= @customer.last_90_plus %></p>
            </div>
        </div>
    </div>
    <h3>Sell Prices</h3>
    <% if params[:show_costs] == 'true' %>
    <%= link_to 'Hide Cost', params.merge(:show_costs => false), {:class => 'btn btn-primary'} %>
<% else %>
    <%= link_to 'Show Cost', params.merge(:show_costs => true), {:class => 'btn btn-primary'} %>
<% end %>

    <div class="table-responsive">
        <table class="order-table table">
            <thead>
                <th>Item ID</th>
                <% if params[:show_costs] == 'true' %>
                    <th>Cost</th>
                <% end %>
                <th>Price</th>
                <th>Unit of Measure</th>
                <th>Start Date</th>
                <th>End Date</th>
            </thead>

            <% prices = @customer.get_prices %>
            <% @customer.get_prices.each do |price| %>
                <tr>
                    <td><%= link_to "#{price.item_id}", product_path(price.get_product_id) %></td>
                    <% if params[:show_costs] == 'true' %>
                        <td><%= number_with_precision(price.cost, :precision => 2) %></td>
                    <% end %>
                    <td><%= number_with_precision(price.price, :precision => 2) %></td>
                    <td><%= price.unit_measure %></td>
                    <td><%= price.get_start_date %></td>
                    <td><%= price.get_end_date %></td>
                </tr>
            <% end %>
        </table>
    </div>



    <div class="list-group">
        <%= link_to 'Customers', customers_path, {class: 'btn btn-primary'}  %>
    </div>
</div>
