<div class="container">
  <div class="page-header">
    <h1>Editing Customer User</h1>
  </div>

  <%= form_for :customer_user, url: customer_user_path(@customer_user), method: :patch, :html => {:class => 'form'} do |f| %>
    <%= f.submit "Update User", {class: 'btn btn-primary'} %>
    <br>
    <br>
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control' %><br>
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name, :class => 'form-control' %><br>
    <%= f.label :email %><br>
    <%= f.text_field :email, :class => 'form-control' %><br>
    <%= f.label :password %><br>
    <%= f.text_field :password, :class => 'form-control' %><br>
    <%= check_box_tag :all_products %>
    <%= label_tag :all_products %>
    <br>
    <%= f.label :products %><br>
    <%= f.select(:products, @products.collect {|p| [p.product_id, p.id] },  { :prompt => "Please select", :selected => @customer_user.products.map { |p| p.id }},
                 { :multiple => true, :size => 20, :class => 'form-control chosen-select' }) %>
  <% end %>
  <br>
  <br>
  <%= link_to 'Show', @customer_user %> |
  <%= link_to 'Back', customer_users_path %>
</div>
