<div class="container theme-showcase" role="main">
  <div class="page-header">
    <%= image_tag("logo.svg", :alt => "Company Logo", width: 300) %>
  </div>
  <% unless @message.nil? %>
    <p style="color:red"><%= @message %></p>
  <% end %>
  <%= form_for :user, create: :patch do |p| %>
    <div class="form-group">
    New password: <%= p.password_field :password, {class: 'form-control'} %>
    Confirm password: <%= p.password_field :confirm_password, {class: 'form-control'} %>
    <%= p.submit "Change Password", {class: 'btn btn-danger'} %>
    </div>
  <% end %>
</div>
