<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1><%= @vendor.vendor_name %></h1>
  </div>
  <div class="list-group">
    <%= render :partial => "edit_button" %>
  </div>
  <br>
  <br>
  <br>
  <%= image_tag(@image_filename, :alt => "Company Logo", width: 300) %>
  <%= image_tag("logo.svg", :alt => "Alchemy Logo", width: 300, :class => "pull-right") %>
  <% if params[:edit] == 'true' %>
    <div class="container">
      <%= form_for :vendor_logo, method: :patch, url: vendor_path(@vendor.vendor_id), html: { :class => 'form-inline' } do |p| %>
        <%= p.file_field :logo_file, {class: 'form-control'} %>
        <%= p.submit "Replace Logo", {class: 'btn btn-danger'} %>
      <% end %>
    </div>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <%= raw(@sales_html) %>
  <script>
<%= raw(@sales_js) %>
  </script>
  <div class="container">
    <%= render :partial => "product_list", :locals => {:products => @vendor.products, :show_expired_only => false} %>
  </div>
</div>
