<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1>Send new email</h1>
  </div>
  <% unless @attachment_name.nil? %>
    <p><strong>Attached:</strong> <%= @attachment_name %></p>
  <% end %>
  <p id="notice"><%= notice %></p>
  <%= form_for :email, url: email_index_path, :html => {:class => 'form'} do |p| %>
    <%= hidden_field_tag 'attachment_name', @attachment_name %>
    <%= hidden_field_tag 'attachment_path', @attachment_path %>
    <%= p.label :to %>
    <%= p.text_field :to, :class => 'form-control', :value => @to %>
    <%= p.label :subject %>
    <%= p.text_field :subject, :value => @subject, :class => 'form-control' %>
    <%= p.label :body %>
    <%= p.text_area :body, rows: 10, :class => 'form-control', :value => @body %>
    <br>
    <%= p.submit "Send email", {class: 'btn btn-primary'} %>
  <% end %>
</div>
