<div class="table-responsive">
  <table class="order-table table">
    <thead>
      <th>Type</th>
      <th>Filename</th>
      <th>Expiration Date</th>
    </thead>
    <% @product.documents.each do |document| %>
      <tr>
        <td><%= document.document_type.type_description %></td>
        <td><%= link_to "#{document.filename}", {:controller => "products", :action => "download_file", :id => @product.id, :filename => document.filename, :path => document.absolute_directory} %></td>
        <% if document.expiration.nil? %>
          <td>No date</td>
        <% else %>
          <td><%= I18n.l document.expiration %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<%= nested_form_for @product do |f| %>
  <%= f.fields_for :documents do |document_form| %>
     <div class="form-group">
    <% document = document_form.object %>
    <% selected = document.document_type.nil? ? nil : document.document_type.id %>
    <% label = document.filename.nil? ? 'New Document' : document.filename %>
    <%= document_form.label :document_label, label %><br>
    <%= document_form.collection_select :document_type, DocumentType.order(:type_code),:id,:type_description, {include_blank: false, :selected => selected}, {class: 'form-control'} %>
    <%= document_form.file_field :file, {class: 'form-control'} %>
    <%= document_form.label :expiration %><br>
    <%= document_form.date_field :expiration, {class: 'form-control'} %>
     </div>
  <% end %>
  <p><%= f.link_to_add "Add a document", :documents, {class: 'form-control btn-primary'} %></p>
  <%= f.submit 'Update documents', {class: 'form-control btn-primary'} %>
<% end %>
