<%
    def display(product)
      to_display = true
      if params[:expired_sds] == 'true'
        to_display = to_display && (product.sds_expiry.nil? || product.sds_expiry.past?)
      end
      return to_display
end
%>
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1>Listing products</h1>
  </div>
  <div class="container">
    <%= link_to "Back Home", root_path, {class: 'btn btn-primary'} %>
    <% if params[:expired_sds] == 'true' %>
      <%= link_to 'Show all products', params.merge(:expired_sds => false), {:class => 'btn btn-primary'} %>
    <% else %>
      <%= link_to 'Show products with expired SDS', params.merge(:expired_sds => true), {:class => 'btn btn-primary'} %>
    <% end %>
  </div>
  <br>
  <div class="container">
  <%= render :partial => "product_list", :locals => {:products => @products, :show_expired_only => params[:expired_sds] == 'true'} %>
<div class="container">
  <%= link_to "Back Home", root_path, {class: 'btn btn-primary'} %>
</div>
</div>
