<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1><%= @product.description %></h1>
  </div>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Product Information</h3>
        <p><strong>ID:</strong> <%= @product.product_id %></p>
        <p><strong>Name:</strong> <%= @product.description %></p>
        <p><strong>Description:</strong> <%= @product.new_description %></p>
        <p><strong>Pack size:</strong> <%= @product.description2 %></p>
        <% unless @product.vendor.nil? %>
          <p><strong>Vendor:</strong> <%= link_to "#{@product.vendor.vendor_name}", vendor_path(@product.vendor) %></p>
        <% end %>
        <p><strong>Base Unit of Measure:</strong> <%= @product.unit_measure %></p>
        <p><strong>Shelf Life:</strong> <%= @product.shelf_life  %></p>
        <p><strong>Inventory:</strong> <%= @product.inventory %></p>
        <p><strong>On Order:</strong> <%= @product.quantity_purchase_order.to_f %></p>
        <p><strong>On Packing Slip:</strong> <%= @product.quantity_packing_slip.to_f %></p>
      </div>
      <div class="col-sm-4">
        <h3>Documents</h3>
        <% if params[:edit] == 'true' %>
          <%= render :partial => 'documents_edit' %>
        <% else %>
          <%= render :partial => 'documents_view' %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render :partial => "edit_button" %>
  <%= link_to 'Products', products_path, {class: 'btn btn-primary'}  %>
</div>
