<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1><%= @product.description %></h1>
  </div>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Product Information</h3>
        <p><strong>ID:</strong> <%= @product.product_id %></p>
        <p><strong>Description:</strong> <%= @product.description %></p>
        <p><strong>Description 2:</strong> <%= @product.description2 %></p>
        <p><strong>Base Unit of Measure:</strong> <%= @product.unit_measure %></p>
        <p><strong>Shelf Life:</strong> <%= @product.shelf_life  %></p>
        <p><strong>Inventory:</strong> <%= @product.inventory %></p>
        <p><strong>On Order:</strong> <%= @product.quantity_purchase_order %></p>
        <p><strong>On Packing Slip:</strong> <%= @product.quantity_packing_slip %></p>
      </div>
      <div class="col-sm-4">
        <h3>Documents</h3>
        <p>
        <strong>SDS:</strong>
        <% unless @product.sds.nil? %>
          <%= link_to "#{@product.sds}", :controller => "products", :action => "download_document", :id => @product.get_product_id, :document_type => "sds" %>
        <% else %>
          No SDS file
        <% end %>
        </p>

        <p>
        <% if @product.sds_expiry.past? %>
          <strong style='color: red'>SDS HAS EXPIRED:</strong>
        <% else %>
          <strong>SDS expiry:</strong>
        <% end %>
        <%= @product.get_sds_expiry_formatted %>
        </p>
        <% if params[:edit] == 'true' %>
        <div class="container">
          <%= form_for :product, method: :patch, url: product_path(@product.get_product_id), html: { :class => 'form-inline' } do |p| %>
            <%= p.file_field :sds_file, {class: 'form-control'} %>
            <%= p.submit "Replace SDS", {class: 'btn btn-danger'} %>
          <% end %>
        </div>
      <% end %>
        </br>
        <p>
        <strong>PDS:</strong>
        <% unless @product.pds.nil? %>
          <%= link_to "#{@product.pds}", :controller => "products", :action => "download_document", :id => @product.get_product_id, :document_type => "pds" %>
        <% else %>
          No PDS file
        <% end %>
        </p>
        <% if params[:edit] == 'true' %>
          <div class="container">
            <%= form_for :product, method: :patch, url: product_path(@product.get_product_id), :html => {:class => 'form-inline'} do |p| %>
              <%= p.file_field :pds_file, {class: 'form-control'} %>
              <%= p.submit "Replace PDS", {class: 'btn btn-danger'} %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>



  <% if params[:edit] == 'true' %>
    <%= link_to 'Finished editing', params.merge(:edit => false), {:class => 'btn btn-primary'} %>
  <% else %>
    <%= link_to 'Edit', params.merge(:edit => true), {:class => 'btn btn-primary'} %>
  <% end %>
  <%= link_to 'Products', products_path, {class: 'btn btn-primary'}  %>
</div>
