<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1><%= @product.description %></h1>
  </div>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Product Information</h3>
        <p><strong>ID:</strong> <%= @product.product_id %></p>
        <p><strong>Name:</strong> <%= @product.description %></p>
        <p><strong>Description:</strong> <%= @product.new_description %></p>
        <p><strong>Pack size:</strong> <%= @product.description2 %></p>
        <% if @product.vendor_id != nil %>
          <p><strong>Vendor:</strong> <%= link_to "#{@product.vendor_name}", vendor_path(@product.get_vendor_id) %></p>
        <% end %>
        <p><strong>Base Unit of Measure:</strong> <%= @product.unit_measure %></p>
        <p><strong>Shelf Life:</strong> <%= @product.shelf_life  %></p>
        <p><strong>Inventory:</strong> <%= @product.inventory %></p>
        <p><strong>On Order:</strong> <%= @product.quantity_purchase_order %></p>
        <p><strong>On Packing Slip:</strong> <%= @product.quantity_packing_slip %></p>
      </div>
      <div class="col-sm-4">
        <h3>Documents</h3>
        <p>
        <strong>SDS Required:</strong> <%= @product.sds_required %>
        </p>
        <p>
        <strong>SDS:</strong>
        <% unless @product.sds.nil? %>
          <%= link_to "#{@product.sds}", {:controller => "products", :action => "download_document", :id => @product.id, :document_type => "sds"} %>
          <%= link_to image_tag('mail.svg', :width => 25, :border => 0), new_email_path(:file => 'sds', :product_id => @product.id) %>
        <% else %>
          No SDS file
        <% end %>
        </p>

        <p>
        <% if @product.sds_expiry.past? %>
          <strong style='color: red'>SDS HAS EXPIRED:</strong>
        <% else %>
          <strong>SDS expiry:</strong>
        <% end %>
        <%= @product.get_sds_expiry_formatted %>
        </p>
        <% if params[:edit] == 'true' %>
          <div class="container">
            <%= form_for :product, method: :patch, url: product_path(@product.id), html: { :class => 'form-inline' } do |p| %>
              <%= p.file_field :sds_file, {class: 'form-control'} %>
              <%= p.submit "Replace SDS", {class: 'btn btn-danger'} %>
            <% end %>
          </div>
        <% end %>
        </br>
        <p>
        <strong>PDS:</strong>
        <% unless @product.pds.nil? %>
          <%= link_to "#{@product.pds}", {:controller => "products", :action => "download_document", :id => @product.id, :document_type => "pds"} %>
        <% else %>
          No PDS file
        <% end %>
        </p>
        <% if params[:edit] == 'true' %>
          <div class="container">
            <%= form_for :product, method: :patch, url: product_path(@product.id), :html => {:class => 'form-inline'} do |p| %>
              <%= p.file_field :pds_file, {class: 'form-control'} %>
              <%= p.submit "Replace PDS", {class: 'btn btn-danger'} %>
            <% end %>
          </div>
        <% end %>
        <p>
        <strong>Misc files:</strong>
        </p>
        <% @misc_files.each do |file| %>
          <div class="list-group">
            <% if params[:edit] == 'true' %>
              <%= link_to 'Delete', {:controller => "products", :action => "remove_document", :document_name => file}, {:class => 'btn btn-danger'} %>
            <% end %>
            <%= link_to "#{file}", {:controller => "products", :action => "download_document", :id => @product.id, :document_type => "misc", :document_name => file} %>
          </div>
        <% end %>
        <% if params[:edit] == 'true' %>
          <div class="container">
            <%= form_for :product, method: :patch, url: product_path(@product.id), :html => {:class => 'form-inline'} do |p| %>
              <%= p.file_field :misc_file, {class: 'form-control'} %>
              <%= p.submit "Add misc file", {class: 'btn btn-danger'} %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>



  <%= render :partial => "edit_button" %>
  <%= link_to 'Products', products_path, {class: 'btn btn-primary'}  %>
</div>
