<div class="container theme-showcase" role="main">
  <div class="page-header">
      <%= image_tag("logo.svg", :alt => "Company Logo", width: 300) %>
  </div>
  <%= raw(@overall_html) %>
  <%= raw(@individual_html) %>
  <%= raw(@comparison_html) %>

  <canvas id="individualChart" width="800" height="400"></canvas>
  <div id="individual-legend" class="chart-legend"></div>

  <canvas id="comparisonChart" width="800" height="400"></canvas>
  <div id="comparison-legend" class="chart-legend"></div>
  <script>
<%= raw(@overall_js) %>
<%= raw(@individual_js) %>
<%= raw(@comparison_js) %>
  </script>
</div>
